*.sublime-project
*.sublime-workspace
.DS_Store
build/
dist/
mindl.egg-info/
*.egg-info
*.pyc
*.egg
downloads/
exception_state.png
__pycache__/
urls.txt
mindl/plugins/sokuyomi/
mindl/plugins/sokuyomi_html5.py
